@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Página Inicial";
}

@*<div class="jumbotron">

    <h1>
        <b>
            


        </b>
    </h1>

</div>*@
      
           @*@Html.ActionLink("Olá " + User.Identity.GetUserName() + "(Administrador)!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@ 




    