@{
    ViewBag.Title = "Contato";
}


<h3 class="text-center">Contato</h3>
<h4>Email: <a href="mailto:ederafonsor@gmail.com">ederafonsor@gmail.com</a><br /> </h4>
<p><h4>GitHub: <a href="https://github.com/ederafonsorabelo">github.com/ederafonsorabelo</a></h4> </p>