@{
    ViewBag.Title = "Quem Somos";
}
<br />
<text class="text-center"><h3>Quem Somos?</h3></text>

<h3>A Loja Virtual Studio F reúne os melhores produtos do momento.
    Sempre priorizando a qualidade e atendimento, atendendo as necessidades de você, usuário.
    <br />

    Somos um e-commerce de produtos de beleza, com sede em Cuiabá. Nosso maior compromisso é garantir a satisfação de todos nossos clientes. Desde o primeiro clique, 
    zelamos pela segurança e seriedade da nossa loja virtual,
    cada cliente recebe um atendimento diferenciado e exclusivo.</h3>