@{
    ViewBag.Title = "Sobre  ";
}
<h3>O SCSB é um sistema cujo intuito é facilitar o gerenciamento de salão de um beleza, onde é possivel armazenar dados de clientes, produtos, horários e pedidos. Tendo assim como intuito, melhorar a velocidade do atendimento e qualidade de serviço, contendo uma série de funções que possam facilitar a administração do estabelecimento.</h3>