@{
    ViewBag.Title = "Contato";
}


<h3 class="text-center">Contato</h3>
<h4>Email: <a href="mailto:ederafonso23@hotmail.com">ederafonso23@hotmail.com</a><br /> </h4>
<p><h4>GitHub: <a href="https://github.com/ederafonso23">github.com/ederafonso23</a></h4> </p>
<p><h4>Twitter: <a href="https://twitter.com/ederfns">twitter.com/ederfns</a></h4> </p>