@{
    ViewBag.Title = "Seja Bem-Vindo a nossa Loja";
}



    <div class=login-page>
        <div class="slider hidden-xs">
            <ul class="rslides">
                <li><img src="~/Content/Images/banner01.png" alt="" /></li>
                <li><img src="~/Content/Images/banner02.png" alt="" /></li>
                <li><img src="~/Content/Images/banner03.png" alt="" /></li>
                <li><img src="~/Content/Images/banner04.png" alt="" /></li>
            </ul>
        </div>
        <br />

        <h3 class="text-center">Selecione uma das categorias abaixo para realizar os seus pedidos.  <br>Boas Compras!</h3><br />

        <div class="row">
            <div class="col-md-3">
                <div class="categorywrap">
                    <a href="~/StoreFront/Index/1">
                        <h2>Cabelo</h2>
                        <img src="~/Content/Images/1.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="categorywrap">
                    <a href="~/StoreFront/Index/2">
                        <h2>Maquiagem</h2>
                        <img src="~/Content/Images/2.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="categorywrap">
                    <a href="~/StoreFront/Index/3">
                        <h2>Depilação</h2>
                        <img src="~/Content/Images/3.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="categorywraplast">
                    <a href="~/StoreFront/Index/4">
                        <h2>Pele</h2>
                        <img src="~/Content/Images/4.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
