@model WebAppLab2Turma20161.Models.Categoria

@{
    ViewBag.Title = @Model.Nome;
}


<br/>
<br/>

<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">


            @if(Model.Nome=="Dairy")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/1">DAIRY</a>
                </li>
            }
            else
            {
                <li>
                     <a href="~/StoreFront/Index/1">DAIRY</a>
                </li>
            }
            @if (Model.Nome == "Meats")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/2">MEATS</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/2">MEATS</a>
                </li>
            }
            @if (Model.Nome == "Bakery")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/3">BAKERY</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/3">BAKERY</a>
                </li>
            }
            @if (Model.Nome == "Fruits")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/4">FRUIT &amp; VEG</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/4">FRUIT &amp; VEG</a>
                </li>
            }
            
        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var produto in Model.Produtos)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/Products/@(produto.Nome).png">
                        <div class="caption text-center">
                            <p>
                                <b>Nome:</b> <span>@produto.Nome</span>
                            </p>
                            <p>
                                <b>Preço:</b> <span>R$ @produto.Preco</span>
                            </p>
                            <p class="text-center">
                                @Html.ActionLink("Adicionar no Carrinho", "AddToCart", "ShoppingCart", new { id = produto.ProdutoId }, new {@class="btn btn-info"})
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
